@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,400;1,600&family=Splash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
    overflow-x: hidden;
}
section {
	padding: 26px;
	height: 33vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
header .logo img {
	position: relative;
	width: 68px;
}
header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(1.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000;
}
header .toggle.active{
    background: url(image/as.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.navigation{
    position:absolute;
    display: flex;
    right: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.navigation.active{
    opacity: 1;
    visibility: visible; 
}
.navigation li{
    list-style: none;
}
.navigation li a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;
}
.home h1 {
	position: relative;
	left: 46px;
}
.home h1 span{
	font-size: 20px;
	color: red;
}
.home h2 {
	font-size: 6em;
}
.p-box {
	background: #fff6f6;
	box-shadow: 6px 16px 20px;
	border-radius: 52px -29px;
	border-radius: 26px 26px;
}
.p-information {
	padding: 12px 12px;
	text-align: center;
}
.p-box button {
	width: 200px;
}
.footer  {
	background: darkgrey;
	padding: 51px 12px;
	margin: 84px 0px 0px 0px;
	line-height: 27px;
}